# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual env
.venv/

# Editors/OS
.vscode/
.idea/
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
*.DS_Store
.env
.env.*
.devcontainer/
results/runs/
results/logs/
logs/

